[submodule "janus/solarized"]
	path = janus/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "janus/zencoding"]
	path = janus/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "janus/pony"]
	path = janus/pony
	url = git://github.com/rainerborene/vim-pony.git
[submodule "janus/twig"]
	path = janus/twig
	url = https://github.com/qbbr/vim-twig.git
[submodule "janus/haml"]
	path = janus/haml
	url = https://github.com/tpope/vim-haml
[submodule "janus/scss-syntax"]
	path = janus/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "janus/vim-align"]
	path = janus/vim-align
	url = https://github.com/tsaleh/vim-align
[submodule "janus/vim-less"]
	path = janus/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "janus/vim-handlebars"]
	path = janus/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "AutoClose"]
	path = AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "janus/AutoClose"]
	path = janus/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
